<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Discworld Web App</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="banner">
	<div class="container">
			<h1>Discworld Tracker</h1>
	</div>
</div>
	<div class="container main-frame" ng-app="discworldApp" ng-controller="DiscworldCtrl" ng-init="init()">
		<div id="filter" class="search-box row-fluid form-inline">
			<label>Filter:</label>
			<input type="text" ng-model="search.title" placeholder="Title">
			<label>Storyline: </label>
			<select ng-model="storyFilter" ng-options="value.story for value in discworld | unique: 'story' | orderBy: 'story'" class="input-medium">
				<option value="">All</option>
			</select> 	
			<label>Sort by:</label>	
			<select ng-model="orderReverse" class="input-medium">
				<option value="">Oldest</option>	
				<option value="-year">Most Recent</option>
			</select>
	</div>


<div>
    <div>
        <ul ng-repeat="book in discworld | filter:search | filter: storyFilter.story:true | orderBy: orderReverse">
        	<div class="row">
        		<div class="col-md-3">
	        		<img src="{{book.image}}" alt="{{book.alt}}">
	        	</div>
	        	<div id="main" class="col-md-5">
		            <li>{{book.title}}</li>
		            <li>{{book.description}}</li>
		        </div>
		        <div class="col-md-4">
		            <li>{{book.year}}</li>
		            <li>{{book.story}}</li>
	        	</div>
        	</div>
        </ul>
    </div>
  </div>
</div>
	
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/ui-utils.min.js"></script>
<script type="text/javascript" src="js/angular-ui.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</html>
